body{
    background-color: #68BAB5;
    }




footer {
        display: flex;
        justify-content: center;
        align-items: center;
      
        height: 30px;
        
        background-color:#68BAB5 ;
        font-size: 15px;
        color: #fff;
      }
